#home-container {
    text-align: center;
    margin-top: 50px; /* Adjust as needed */
}

#home-container h1 {
    color:#575C0E;
}

#home-container p {
    color: #D69723;
    font-size: 18px;
}

#home-container h2 {
    color:#575C0E;
    font-size: 40px;
}

footer {
    background-color: #575C0E;;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}