#home-container {
    text-align: center;
    margin-top: 50px; /* Adjust as needed */
}

#home-container h1 {
    color:#575C0E;
}

#home-container p {
    color: #D69723;
    font-size: 18px;
}
#search-section {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

select, button {
    padding: 8px;
    font-size: 14px;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

footer {
    background-color: #575C0E;;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}